h1 {
    font-size: 40px;
    color:white;
    border: 5px;
    border-color: black;
    border-style: solid;
    padding: 25px;
    margin: 0px;
    background: url(images/space.jpg) no-repeat;
    background-size:cover;
}

nav li {
    font-size: 20px;
    
}

a{
    background-color: gray;
    border: gray solid 4px;
   margin:20px;
    padding:10px;
}